.App {
  text-align: center;
  /* background-color: #021321; */
}
body{
  background-color: #021321;
  color: white;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

p {
  margin-top: 10px;
  text-align: center;
} */
